import React from "react";
import ReactDOM from 'react-dom';
import * as _app from "../src/_app";
import Component from "../src/pages/index";

type AppPage = {
  default: typeof _app.default
};

function Page() {
  const CurrentApp = _app as unknown as AppPage;
  const App = CurrentApp.default;
  return (
    <App>
      <Component />
    </App>
  );
}

ReactDOM.hydrate(
  <React.StrictMode>
    <Page />
  </React.StrictMode>,
  document.getElementById('root')
);